<footer>
    <div class="standard_container">
        <div class="footer_wrapper">
            <div class="footer_box footer-left">
                <img class="footer_logo" src="./assets/images/car-images/Logo.png">
                <p>
                    Car Detiling Montreal has been delivering professional car detailing services to the greater St. George area for years. With a commitment to quality and customer satisfaction, we've helped hundreds of car owners restore and maintain their vehicles' showroom shine.
                </p>
            </div>
            <div class="footer_box footer-main">
                <div class="footer_links">
                    <div class="heading">Services</div>
                    <ul>
                        <li><a href="./exterior-detailing.html">Exterior Detailing</a></li>
                        <li><a href="./interior-detailing.html">Interior Detailing</a></li>
                        <li><a href="./mobile-car-detailing.html">Mobile Car Detailing</a></li>
                    </ul>
                </div>
                <div class="footer_links mt-5">
                    <div class="heading">Schedule Your Appointment</div>
                    <ul>
                        <li>
                            <a href="#" onclick="window.location.href='tel:+5148638799'">
                                Call 514-863-8799
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer_box footer-service">
                <div class="footer_links">
                    <div class="heading">Service Areas</div>
                    <ul>
                        <li><a href="./car-detailing-laval.html">Car Detailing Laval</a></li>
                        <li><a href="./car-detailing-montreal-north.html">Car Detailing Montreal North</a></li>
                        <li><a href="./car-detailing-west-island.html">Car Detailing West Island</a></li>
                        <li><a href="./car-detailing-downtown-montreal.html">Car Detailing Downtown Montreal</a></li>
                        <li><a href="./car-detailing-saint-laurent.html">Car Detailing Saint Laurent</a></li>
                        <li><a href="./car-detailing-laurentides.html">Car Detailing Laurentides</a></li>
                        <li><a href="./car-detailing-lanaudiere.html">Car Detailing Lanaaudiere</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_box footer-right">
                <p>Locate us at:</p>
                <div class="w-embed w-iframe">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2792.4563595558393!2d-73.57989502371962!3d45.58136997107604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91fb1f7ef84a3%3A0x3c4fd5da6b70a449!2sNick&#39;s%20Car%20Detailing%20Montreal!5e0!3m2!1sen!2sus!4v1748406513668!5m2!1sen!2sus"
                        width="432" height="236" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

        <div class="footer-divider"></div>
        <div class="copyright-footer-socials">
            <div class="footer-copyright-center">© 2025 Car Detiling Montreal. All rights reserved.</div>
            <div class="policies-link">
                <a class="setNavLinkPath" data-filename="privacy-policy.html" href="">Privacy Policy</a>
                <a class="setNavLinkPath" data-filename="terms-and-condition.html" href="">Terms and Conditions</a>
            </div>
            <div class="footer-socials">
                <a href="https://www.instagram.com/freeflowdrainsutah" class="x w-inline-block"><img loading="lazy"
                        src="./assets/images/insta-white-logo.png" alt=""></a>
                <a href="https://www.youtube.com/@FreeFlowPlumbingAndDrains" class="linked-in w-inline-block"><img
                        loading="lazy" src="./assets/images/youtube-white-logo.png" alt="" style="width: 30px;"></a>
                <a href="https://www.facebook.com/Freeflowdrains/" class="fb w-inline-block"><img loading="lazy"
                        src="https://cdn.prod.website-files.com/67a3ee73f098d5e2742d5dfd/67a3ee9704b1efd86ab01830_fb.svg"
                        alt=""></a>
            </div>
        </div>
    </div>
</footer>